<div *ngIf="course" class="course-details"> 
  <h2>{{ course.title }}</h2>
  <img [src]="course.photo" alt="{{ course.title }}">
  <p>{{ course.description }}</p>
  <p><strong>Duration:</strong> {{ course.duration }}</p>
  <p><strong>Difficulty:</strong> {{ course.difficulty }}</p>
  <p><strong>Author:</strong> {{ course.author }}</p>
  <p><strong>Category:</strong> {{ course.category }}</p>
  <p><strong>Number of Videos:</strong> {{ course.num_of_videos }}</p>
  <p><strong>Price:</strong> {{ course.price }} $</p>
  <button class="enroll-button" (click)="addToCart()">Enroll Now</button>
</div>
